<section class="the-form">
  <section class="front">
    {{textarea placeholder="Add a title!" value=cardTitle}}
  </section>

  <div class="back">
    <section class="textarea-back">
      {{textarea placeholder="Add the back to your flashcard!" value=cardBack}}
    </section>
    <button class="savebutton" {{action 'newCard'}}>Save</button>
  </div>
</section>

  {{#each card in model}}
  <div class="notecard">
    <button class="deletebutton" {{action 'deleteCard' card}}>X</button>
    <section class="edit-link">
      {{#link-to 'card' card}}Edit{{/link-to}}
    </section>
    <h2 class="card-title">{{card.title}}</h2>
    <h4 class="notecard-back">{{card.back}}</h4>
  </div>
  {{/each}}

{{outlet}}
