<section class="front">
  {{textarea placeholder="Add a title!" value=cardTitle}}
  {{cardTitle}}
  {{cardBack}}
</section>

<div class="back">
  {{textarea placeholder="Add the back to your flashcard!" value=cardBack}}
  <button class="savebutton" {{action 'newCard'}}>Save Flashcard</button>

  {{#each card in model}}
    <h2>{{#link-to 'card' card}}{{card.title}}{{/link-to}}</h2>
    <button {{action 'deleteCard' card}}>Delete</button>
  {{/each}}
</div>

{{outlet}}
