<section class="front">
  {{textarea placeholder="Add a title!" value=cardTitle}}
  {{cardTitle}}
  {{cardBack}}
</section>

<div class="back">
  {{textarea placeholder="Add the back to your flashcard!" value=cardBack}}
  <button class="savebutton" {{action 'newCard'}}>Save</button>
</div>

  {{#each card in model}}
  <div class="notecard">
    <h2 class="title">{{#link-to 'card' card}}{{card.title}}{{/link-to}}</h2>
    <h4>{{card.back}}</h4>
    <button class="deletebutton" {{action 'deleteCard' card}}>Delete</button>
  </div>
  {{/each}}

{{outlet}}
