<section class="the-form">
  <section class="front">
    {{textarea placeholder="Add a title!" value=cardTitle}}
    {{cardTitle}}
    {{cardBack}}
  </section>

  <div class="back">
    <section class="textarea-back">
      {{textarea placeholder="Add the back to your flashcard!" value=cardBack}}
    </section>
    <button class="savebutton" {{action 'newCard'}}>Save</button>
  </div>
</section>

  {{#each card in model}}
  <div class="notecard">
    <button class="deletebutton" {{action 'deleteCard' card}}>X</button>
    <h2 class="title">{{#link-to 'card' card}}{{card.title}}{{/link-to}}</h2>
    <h4 class="notecard-back">{{card.back}}</h4>
  </div>
  {{/each}}

{{outlet}}
