<section class="create-title">
  {{textarea placeholder="Add a title!" value=cardTitle}}
  {{cardTitle}}
  <div class="notetext">
    {{cardBack}}
  </div>
</section>

<section class="create-post">
  {{textarea placeholder="Add the back to your flashcard!" value=cardBack}}
  <button class="savebutton" {{action 'newCard'}}>Save Flashcard</button>
</section>

<section class="half">
{{#each card in model}}
  <h2>{{card.title}}</h2>
  <button {{action 'deleteCard' card}}>Delete</button>
{{/each}}
</section>



{{outlet}}
